#main-page {
    margin-top: 30pt;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-style: dashed;
    border-width: 1pt;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

img {
    max-width: 150px;
    max-height: 150px;
}

#choices {
    width: 900px;
    height: 150px;
    border: 1px red dashed;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    width: 300px;
    height: 150px;
    border: 1px green dashed;
    display: table-cell;
}

.total-and-options {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#options {
    padding: 20px;
    border: 1px orange dashed;
    display: table-cell;
    width: 600px;
}

.sub-options {
    border: 1px blue dashed;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.sub-options .heading {
    font-family: sans-serif;
    width: 100%;
    text-align: left;
    display: table-row;
}

.option {
    border: 1px yellow dashed;
    display: table-cell;
    width: 100px;
    height: 100px;
    content: "&nbsp;";
}

.selected {
    background-color: red;
}

#total {
    width: 300px;
    display: table-cell table;
    text-align: right;
}

#total .sum-row {
    display: table-row;
    text-aligh: right;
}

#total .row {
    display: table-row;
}

#total .make {
    display: table-cell;
    width: 200px;
}

#total .price {
    display: table-cell;
    width: 100px;
}

#total .label {
    display: table-cell;
    width: 200px;
}

#total .sum {
    display: table-cell;
    width: 100px;
}
